dist/data/workflows/code_engine.json
{
  "name": "Code Engine",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "complete",
        "model": "gpt-4",
        "prompt": "Generate code based on the following requirements:\\n{{$json.code_requirements}}\\n\\nPlease provide clean, well-documented code.",
        "maxTokens": 2000
      },
      "name": "Generate Code",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract and format the generated code\nconst generatedText = items[0].json.choices[0].text;\n\n// Basic code extraction (this would be more sophisticated in practice)\nconst codeMatch = generatedText.match(/```[\\s\\S]*?```/g);\nconst code = codeMatch ? codeMatch[0].replace(/```/g, '') : generatedText;\n\nreturn [{\n  json: {\n    generated_code: code,\n    language: $input.first().json.language || 'javascript',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "name": "Process Generated Code",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "command": "={{$json.test_command || 'echo \"No test command specified\"'}}"
      },
      "name": "Execute Tests",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "owner": "={{$json.github_owner}}",
        "repository": "={{$json.github_repo}}",
        "title": "Automated Code Generation",
        "body": "This PR contains code generated by the N8N Code Engine workflow.",
        "base": "main",
        "head": "feature/generated-code-{{$now}}"
      },
      "name": "Create GitHub PR",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Generate Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Code": {
      "main": [
        [
          {
            "node": "Process Generated Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Generated Code": {
      "main": [
        [
          {
            "node": "Execute Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tests": {
      "main": [
        [
          {
            "node": "Create GitHub PR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "4"
}